body {
    font-family: Arial;
    padding: 20px;
    background: #ffffff;
}

.securex-btn {
    position: absolute;
    bottom: -30px;
    left: 0;
    background: #ee897e;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}

button {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    background: #4d5f81;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
